/* Import Font */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* A Minimal CSS Reset -  */
body, html {
    box-sizing: border-box;
    color: #595959;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Begin Styles */

.wrapper {
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow:auto;
    padding: 0 0 2rem;
    position: fixed;
    text-align: center;
    width: 100%;
}

.primary-btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 1.75rem;
    -moz-border-radius: 1.75rem;
    border-radius: 1.75rem;
    color: #ffffff;
    font-size: 1.25rem;
    padding: .5rem 1rem .5rem 1rem;
    text-decoration: none;
    cursor: pointer;
}

.primary-btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.primary-btn:disabled {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #a6cfea, #6795b5);
    background-image: -moz-linear-gradient(top, #a6cfea, #6795b5);
    background-image: -ms-linear-gradient(top, #a6cfea, #6795b5);
    background-image: -o-linear-gradient(top, #a6cfea, #6795b5);
    background-image: linear-gradient(to bottom, #a6cfea, #6795b5);
    text-decoration: none;
    cursor: default;
}

.hide {
    display: none;
}

.heading {
    background-color: #686868;
    color: #fefefe;
    font-size: 2rem;
    padding: 1rem;
    width: 100%
}

.game-board {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-evenly;
    padding: 1rem;
    width: 100%;
}

.game-board > div {
    background-color: #fefefe;
    padding: .25rem;
    width: 33.33%
}

.mole {
    cursor: pointer;
}

.feedback {
    background-color: #fefefe;
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    padding: 1rem 2.5rem;
    width: 100%;
}

.timer {
    flex-grow: 1;
}

.timer__msg {
    color: #2980b9;
    font-size: 1.5rem;
}
